{
    "lastfm": {
        "appName": "",
        "apiKey": "",
        "sharedSecret": "",
        "username": "",
        "sessionKey": ""
    },
    "discord": {
        "webhookurl": ""
    },
    "kamai": {
        "baseUrl": ""
    },
    "mythicalAccesCode": ""
}